@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --charcoal-grey: 51, 51, 51;
  --background-panel-rgb: 22, 22, 22;
  --background-rgb: 28, 28, 28;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
